/*
selector{
    właściwości : wartość
}
*/
*{box-sizing:border-box ;}
body{
    background-color: bisque;
    margin: 0;

}
/* header który jest bezpośrednim dzieckiem body */
body > header{
    border: 2px dashed red;
    text-align: center;
}

/* GŁOWNA NAWIGACJA */
nav{
    position:sticky;
    top:0;
}
nav ul {
    border: 5px dashed red;
    /*punktowanie listy */
    list-style-type: none;
    padding: 0;
    margin: 0;
    /* DISPLAY FLEX */

    display:flex;
    justify-content: space-evenly;
}


/* POJEDYNCZE PRZYCISKI (HOME,PROJEKTY, KONTAKTY) */
nav ul li{
    
    margin: 10px;
    border: 5px solid red;
    padding: 5px 15px;
    background-color:blue;
    /* kolor tła */ 
    color:green;
    /* zaokrąglenie krawęzi */
    border-radius: 15px;
    /* wyglad kursora */
    cursor:pointer;
    /* czas pojawiania się zmian */
    transition: .5s;
}
nav{
    position:sticky;
    top:0%;
}
/* styl elemetu po na kierowaniu nań myszką */
nav ul li:hover{
    border-color:aqua rgb(48, 214, 229);
    background-color: rgb(245, 207, 138);
    color:black;
}


/*POPUP COOKIES */
.cookies{
    border:5px solid rgb(115,23,23);
    display:flex;
    justify-content:space-between;
    background-color: aquamarine;
    
}

button:hover {cursor:pointer
        }