/*
selector{
    właściwości : wartość
}
*/
*{box-sizing:border-box ;}
body{
    background-color: rgba(12, 12, 11, 0.384);
    margin: 0;

}
/* header który jest bezpośrednim dzieckiem body */
body > header{
    
    text-align: center;
}

/* GŁOWNA NAWIGACJA */
nav{
    position:sticky;
    top:0;
}
nav ul {
    
    /*punktowanie listy */
    list-style-type: none;
    padding: 0;
    margin: 0;
    /* DISPLAY FLEX */

    display:flex;
    justify-content: space-evenly;
}


/* POJEDYNCZE PRZYCISKI (HOME,PROJEKTY, KONTAKTY) */
nav ul li{
    
    margin: 10px;
    padding: 5px 15px;
    background-color:blue;
    /* kolor tła */ 
    color:green;
    /* zaokrąglenie krawęzi */
    border-radius: 15px;
    /* wyglad kursora */
    cursor:pointer;
    /* czas pojawiania się zmian */
    transition: .5s;
}
nav{
    position:sticky;
    top:0%;
}
/* styl elemetu po na kierowaniu nań myszką */
nav ul li:hover{
    border-color:aqua rgb(48, 214, 229);
    background-color: rgb(245, 207, 138);
    color:black;
}


/*POPUP COOKIES */
.cookies{
    border:5px solid rgb(115,23,23);
    display:flex;
    justify-content:space-between;
    background-color: aquamarine;
    
}

button:hover {cursor:pointer
        }
        .headerText{
           
            padding:0 2em 1em 2em;
        }
    .imgField{
        text-align: center ;
    }


        
        img{
            max-width:100%;
            border-radius:10%;
        }
        @media (min-width:750px){
            main>header,
            main>article{
                display:flex;
                align-items: center;
                justify-content: center;
            }
        }
        /* Main ARTICLE (TECHNOLOGIE) */
        .tableField{
            display: flex;
            justify-content: center;
        align-items: center;

        }
        main{
        padding:2em;    
        }
